<div fxFlexFill fxLayout="column">
  <md-toolbar class='toolbar' color="primary" fxLayout="row">
    <button md-button [routerLink]="['']"><md-icon>home</md-icon>Home</button>
    <button md-button [routerLink]="['about']">About</button>
  </md-toolbar>
  <div class='main' fxFlex fxLayout="row">
    <div fxFlex class='app-content'>
      <md-card>
        <h1>Hello from {{title}}!</h1>

        <!-- Images (and assets) are parsed and loaded from within the public directory -->
        <img src="/img/angular.png">
      </md-card>
    </div>
    <div fxFlex class='app-content'>
      <router-outlet></router-outlet>
    </div>
    <div fxFlex class='app-content'>
      <md-card>
        stuff
      </md-card>
    </div>
  </div>
  <footer fxFlex="20px">
    <a [href]="url">Webpack Angular 2 Starter</a>
  </footer>
</div>
