// styles applied on :host are applied on the current component, "app" in this case
:host {
  display: block;
}

.main {
  overflow: auto;
}

footer {
  display: block;
  text-align: center;
  font-size: 0.8em;
}

.toolbar button {
  margin: 0 5px;
}
