// styles in src/style directory are applied to the whole page
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body, my-app {
    background: #0147A7;
    color: #fff;
    postion: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    width: 100%;
    height: 100%;
}
a {
    color: #03A9F4;
}


