<div class='home' fxLayout='column' fxFlex>
  <div fxFlex="50" fxLayout='row'>
    <div fxFlex fxLayout class='app-content'>
      <md-card fxFlexFill>
        <chart type='gauge' fxFlexFill></chart>
      </md-card>
    </div>
    <div fxFlex class='app-content'>
      <ul>
        <li>Speed {{mph}} mph</li>
        <li>Distance {{distance | number:'.2'}} miles</li>
        <li>Average Speed {{averageSpeed | number:'.2'}} mps</li>
      </ul>
    </div>
  </div>
  <div fxFlex="50" class='app-content'>
    <md-card fxFlexFill>
      <chart type='line' fxFlexFill></chart>
    </md-card>
  </div>
</div>